/* Colors */
$white: #fefefe;
$black: #22252c;
$blue: #3280ef;
$gray: #b9b9c1;
$gray-bg: #e5e5e5;

/* Breackpoints */
$laptop-bp: 1410px;
$ipad-pro-bp: 1056px;
$tablet-bp: 768px;
$mobile-bp: 623px;

/* Fonts */
$gil-l: 'Gilroy-Light', sans-serif;
$gil-r: 'Gilroy-Regular', sans-serif;
$gil-m: 'Gilroy-Medium', sans-serif;
$gil-s: 'Gilroy-Semibold', sans-serif;
$gil-b: 'Gilroy-Bold', sans-serif;
$gil-e: 'Gilroy-Extrabold', sans-serif;

$work-b: 'Work-Sans-Bold', sans-serif;

$inter-m: 'Inter-Medium', sans-serif;
$inter-s: 'Inter-Semibold', sans-serif;