/* Gilroy */
@font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/gilroy/Gilroy-Light.woff) format('woff');
}

@font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/gilroy/Gilroy-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/gilroy/Gilroy-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/gilroy/Gilroy-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/gilroy/Gilroy-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Gilroy-Extrabold';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/gilroy/Gilroy-ExtraBold.woff) format('woff');
}

/* Work Sans */
@font-face {
    font-family: 'Work-Sans-Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/work-sans/WorkSans-Bold.woff) format('woff');
}

/* Inter */
@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/inter/Inter-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Inter-Semibold';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/inter/Inter-SemiBold.woff) format('woff');
}