<footer class="footer">
    <div class="container">
        <div class="footer-inner">

            <a class="footer-logo" href="#">
                <img src="assets/images/header/logo.png" alt="">
            </a>

            <div class="footer-center">
                <div class="footer-center-col">
                    <a class="footer-center-link" href="#">+7 7771-990-00-44</a>
                    <a class="footer-center-link" href="#">Info@woopapp.com</a>
                    <a class="footer-center-link blue" href="#">Политика конфиденциальности</a>
                </div>

                <div class="footer-center-col">
                    <a class="footer-center-link" href="#">WOOP LLP</a>
                    <a class="footer-center-link" href="#">Almaty, Dostyk avenue, 180, 8 floor</a>
                    <a class="footer-center-link blue" href="#">Условия оплаты</a>
                </div>
            </div>

            <div class="footer-right">
                <a class="footer-right-link" href="#">
                    <img src="assets/images/intro/google-play.svg" alt="">
                </a>

                <a class="footer-right-link" href="#">
                    <img src="assets/images/intro/app-store.svg" alt="">
                </a>
            </div>

        </div><!-- ./footer-inner -->
    </div><!-- ./container -->

    <img class="footer-decoration one" src="assets/images/footer/vector-1.png" alt="">
    <img class="footer-decoration two" src="assets/images/footer/vector-2.png" alt="">
    <img class="footer-decoration three" src="assets/images/footer/vector-3.png" alt="">
    <img class="footer-decoration four" src="assets/images/footer/vector-4.png" alt="">
</footer><!-- ./footer -->