<header class="header">
    <div class="container">
        <div class="header-inner">

            <a class="header-logo" href="#">
                <img src="assets/images/header/logo.png" alt="">
            </a>

            <div class="header-social">
                <span class="header-social-text">свяжитесь с нами</span>
                <a class="header-social-link" href="#">
                    <img src="assets/images/header/inst.png" alt="">
                </a>
                <a class="header-social-link" href="#">
                    <img src="assets/images/header/wsp.png" alt="">
                </a>
            </div>

        </div><!-- ./header-inner -->
    </div><!-- ./container -->
</header><!-- ./header -->